<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/pic.jpg" alt="Sudipa" class="img-fluid" title="Sudipa Acharya">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I'm <span class="text_clr"> SUDIPA ACHARYA</span> and I'm a freelance<span class="text_clr">WEB DEVELOPER</span></h1>
                        <a href="https://www.sudipaacharya.com/" target="_Sudipa"><button>About me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div> 
        </div> 
    </div>     

    <!-- footer code -->

    {{>footer}}
</body>
</html>